@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');
@import url('css/theme.css');

:root {
    --bg-color: #FCFCFC;
    --secondary-level: #F3EAEB;
    --secondary-color: #F3D0E6;
    --third-color: #E69ECB;
    --third-level: #ffdad9;

    --main-text-color: #211a1a;
    --secondary-text-color: #211A1A;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;

    background-color: var(--bg-color);
    color: var(--main-text-color);
}