@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --bg-color: #ffffff;
    --secondary-color: #F3D0E6;

    --main-text-color: #001B2E;
    --secondary-text-color: #153447;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;

    background-color: var(--bg-color);
    color: var(--main-text-color);
}